body {
    width: 90%;
    margin: 10px auto;
    background-color: azure;

}

.form-part {
    background-color: rgba(209, 246, 222, 0.877);
    font-weight: 600;
}

.image-part {
    background-color: rgba(253, 253, 202, 0.966);
}